.navbar-toggler[b-chglo5gils] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-chglo5gils] {
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-chglo5gils] {
    font-size: 1.1rem;
}

.navbar-nav .nav-link[b-chglo5gils] {
    color: #000 !important; /* Black color for all nav links */
}

.navbar-nav .nav-link.active[b-chglo5gils] {
    color: #000 !important; /* Black color for active links */
}

.navbar-nav .nav-link:hover[b-chglo5gils] {
    color: #0056b3 !important; /* Change this to the desired color for hovered links */
}

.bi[b-chglo5gils] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
}